* {
  font-family: arial;
}

body {
  margin: 0;
  padding-bottom: 4000px;
}

.header {
  background: url("background.jpg") scroll no-repeat;
  margin: 0;
  background-size: 1354px 1016px;
  background-position: 0px -204px;
  height: 600px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 205px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 348px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 4%;
  border-bottom: 2px solid #E44D26;
  border-radius: 5px;
  height: 58px;
  line-height: 42px;
}

ul.topnav li {
  float: left;
  font-size: 75%;
}

ul.topnav li.right {
  float: right;
}

.rightNav {
  padding-right: 300px;
  padding-top: 16px;
}

.right img {
  width: 32px;
  height: auto;
  padding-left: 14px;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

.main_h1 {
  font-family: cambria;
}
